.programSummary {
  display: flex;
  align-items: center;
  text-align: left;

  .iconContainer {
    margin-right: 10px;
  }

  .icon {
    width: 18px;
    height: 18px;
  }

  .text {
    display: flex;
    flex-direction: column;
    font-size: 12px;

    .header {
      font-size: 14px;
      margin-bottom: 4px;
    }

    .input {
      font-family: monospace;
    }
  }
}
