version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "lang/go"
      - "dependabot/version-updates"
    open-pull-requests-limit: 1
  - package-ecosystem: "pip"
    directory: "/integration/"
    schedule:
      interval: "daily"
    labels:
      - "lang/python"
      - "dependabot/version-updates"
    open-pull-requests-limit: 1
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "lang/github-actions"
      - "dependabot/version-updates"
    # Monitor all our new workflow files
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
