version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "lang/go"
      - "dependencies"
    open-pull-requests-limit: 5
    commit-message:
      prefix: "deps"
      prefix-development: "dev-deps"
      include: "scope"
    groups:
      go-dependencies-major:
        patterns:
          - "*"
        update-types:
          - "major"
      go-dependencies-minor-patch:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "lang/github-actions"
      - "dependencies"
    open-pull-requests-limit: 3
    commit-message:
      prefix: "ci"
      include: "scope"
    groups:
      github-actions:
        patterns:
          - "*"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
