// styles/Label.module.scss
@import "../../styles/variables";

.column {
  display: inline-block;
  height: 100%;
}

.label {
  padding: 5px 15px;
  margin: 2px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  display: flex;
}

.label-blue {
  background-color: $blue-label;
  color: $blue-text;
}

.label-red {
  background-color: $red-label;
  color: $red-text;
  font-weight: 600;
}

.label-green {
  background-color: $green-label;
  color: $green-text;
}

.label-orange {
  background-color: $orange-label;
  color: $orange-text;
}

.label-grey {
  background-color: $grey-label;
  color: $grey-text;
}
