outputs
data
.cache
node_modules
yarn-error.log
build
public
lib
.DS_Store
dist
.cache
env.*
.env
*.swp
*.swo
bin/*/*
.vscode
vendor/*
bin/*
/bacalhau
.venv
temperature_sensor_data.csv
temperature_sensor_data.csv.bz2
.ipynb_checkpoints
__debug_bin