outputs
vendor
data
.cache
.worktrees
node_modules
yarn-error.log
lib
!pkg/lib
!webui/lib
.DS_Store
dist/*.sha256
dist/*.tar.gz
env.*
.env
.devstack.env
*.swp
*.swo
bin/*/*
.vscode
vendor/*
bin/*
/bacalhau
.venv
temperature_sensor_data.csv
temperature_sensor_data.csv.bz2
.ipynb_checkpoints
__debug_bin
__debug_bin.exe
.terraform/*
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
production.tfvars
ops/terraform/*.out
dashboard/terraform/.terraform
dashboard/frontend/dist
dashboard/pgdata
*_unit.json
.trunk/logs
benchmark/results
shards
__pycache__
stderr
stdout
unittests.xml
tests.xml
output_dir
experimental/*
.idea/
job-*
!job-info-consumer*
!testdata/job-*
coverage/
coverage.out
docker/.images
docker/.pulled
clients/pyproject.toml
webui/.yarn
install-state.gz
webui/.yarn/yarn.build.json
dist/
.web-build-guard

.secret
.arg
.ruff_cache
.aider*

# Integration Tests
test_integration/common_assets/bacalhau_bin

.flox
webui/compiled/*

.claude/settings.local.json