cfgv==3.4.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
distlib==0.3.8 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
filelock==3.13.3 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
graphql-core==3.2.3 ; python_full_version >= "3.10.5" and python_version < "4"
identify==2.5.35 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
nodeenv==1.8.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
platformdirs==4.2.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pre-commit==2.21.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
pyyaml==6.0.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
ruff==0.2.2 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
semver==2.13.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
setuptools==69.2.0 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
sgqlc==16.3 ; python_full_version >= "3.10.5" and python_version < "4.0"
virtualenv==20.25.1 ; python_full_version >= "3.10.5" and python_full_version < "4.0.0"
