// styles/Nodes.module.scss
@import "../../../styles/variables";
@import "../../../styles/breakpoints";

.tableContainer {
  width: 98%;
  overflow: auto; // This allows scrolling if the content is larger than the container.
  padding: 15px;
  margin-top: 20px;
  box-shadow: 0 0 10px 5px $table-color;
  border-radius: 10px;

  table {
    width: 100%; // This makes the table span the full width of its container.
    border-collapse: collapse; // This removes spacing between table cells.
    text-align: center;
    align-items: center;

    th:first-child,
    td:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    th:last-child,
    td:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    th {
      background-color: $bgd-color-dark !important;
      color: $text-colour-light;
      height: 40px;
    }

    td {
      padding: 8px; // This adds some padding inside the cells.
    }

    .id,
    .name,
    .type,
    .label,
    .action,
    .inputs,
    .outputs,
    .version {
      width: 100px;

      @include small {
        min-width: 80px;
      }

      @include medium {
        min-width: 90px;
      }

      @include large {
        min-width: 90px;
      }
    }

    tr:nth-child(even) td {
      background-color: $table-color;
    }
  }
}
