/* _fonts.scss */
@font-face {
    font-family: 'Open Sans Light';
    src: url('../src/assets/fonts/Open_Sans/static/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}