// _variables.scss
$bgd-color: #fff8f8;
$primary-blue: #001c70;
$secondary-blue: #0055ff;
$light-blue: #33ccff;
$bgd-color-dark: $primary-blue;
$text-color-dark: #122135;
$text-colour-light: #fff;
$border-color: #f4f3f8;
$table-color: #f9f9f9;

// Expanso
$primary-purple: #442a6d;

// Label colors
$default-text-color: $text-color-dark;
$default-background-color: rgba($light-blue, .5);
$blue-text: $text-color-dark;
$blue-label: rgba($light-blue, .5);
$red-text: #f73446;
$red-label: rgba($red-text, .3);
$green-text: #076725;
$green-label: rgba($green-text, .3);
$orange-text: #ffd01b;
$orange-label: rgba(#ffeeac, .3);
$grey-text: #000000;
$grey-label: #d9d9d7;
