// _variables.scss
$bgd-color: #fff8f8;
$primary-blue: #001c70;
$secondary-blue: #0055ff;
$light-blue: #33ccff;
$bgd-color-dark: $primary-blue;
$text-color-dark: #122135;
$text-colour-light: #fff;
$border-color: #f4f3f8;
$table-color: #f9f9f9;

// Expanso
$primary-purple: #442a6d;