@import 'variables';

.actionButton{
    background-color: rgba($light-blue, .5);; 
    color: $primary-blue; 
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center   
}

