// styles/Table.module.scss
@import 'variables';

.tableContainer {
    width: 98%;
    overflow: auto;  // This allows scrolling if the content is larger than the container.
    padding: 0px 10px;
    margin-top: 20px;

    table {
        width: 100%;  // This makes the table span the full width of its container.
        border-collapse: collapse;  // This removes spacing between table cells.
        text-align: center;
        align-items: center;

        thead th:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        thead th:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        th {
            background-color: $bgd-color-dark !important;
            color: $text-colour-light;
            height: 40px;
        }
    
        th, td {
            padding: 8px;  // This adds some padding inside the cells.
            border: 1px solid $border-color;  // This adds a border to the cells.
        }

        .program {
            max-width: 250px !important;
        }

        .jobID, .status, .action {
            width: 100px !important;
        }

        .status {

        }

        .dateCreated {
            width: 200px !important;
        }
    
        tr:nth-child(even) {
            background-color: $table-color;
        }
    }
}

