// styles/Label.module.scss
@import 'variables';

.column {
    display: flex;
    flex-direction: column;
    align-items: center; // Centers horizontally in column flexbox
    justify-content: center; // Centers vertically in column flexbox
    height: 100%; // You might need to set a height
}
    
.label {
    // background-color: $default-background-color;
    // color: $default-text-color;
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center
       
}

.label-blue {
    background-color: $blue-label;
    color: $blue-text;
}

.label-red {
    background-color: $red-label;
    color: $red-text;
}

.label-green {
    background-color: $green-label;
    color: $green-text;
}

.label-orange {
    background-color: $orange-label;
    color: $orange-text;
}

.label-grey {
    background-color: $grey-label;
    color: $grey-text;
}