// styles/Layout.module.scss
@import 'fonts';

.layout {
    display: flex;
    font-family: 'Open Sans Light';
}

.rightSide {
    transition: margin-left 0.3s ease;
    margin-left: 80px;  // for collapsed sidebar
    width: calc(100% - 80px);
}

.expandedSidebar {
    margin-left: 300px;  // for expanded sidebar
}
