// styles/main.scss
@import 'fonts';

body {
  font-family: '@font-face';
}

html, body {
    padding: 0;
    margin: 0;
    font-family: '@font-face';
    min-height: 100vh;
      
    a {
      color: inherit;
      text-decoration: none;
    }
}
  
* {
    box-sizing: border-box;
}
  
