// styles/Table.module.scss
@import 'variables';

.tableContainer {
    width: 98%;
    height: 200px;  // This makes the table span the whole viewport height.
    overflow: auto;  // This allows scrolling if the content is larger than the container.
    padding: 0px 10px;
    margin-top: 20px;

    table {
        width: 100%;  // This makes the table span the full width of its container.
        border-collapse: collapse;  // This removes spacing between table cells.
    
        th, td {
            padding: 8px;  // This adds some padding inside the cells.
            border: 1px solid $border-color;  // This adds a border to the cells.
        }
    
        th {
            background-color: #f2f2f2;  // This sets a background color for header cells.
        }
    
        tr:nth-child(even) {
            background-color: #f9f9f9;  // This sets a background color for every other row.
        }
    }
}

