# -e file:.#egg=flytekit
attrs<21
# We need to restrict constrain the versions of both jsonschema and pyyaml because of docker-compose (which is
# used to run integration tests) pins those two libraries. We are in the process of removing docker-compose in
# favor of a more generic solution that involves Flytectl to stand up the sandbox, described in
# https://github.com/flyteorg/flyte/issues/1732.
jsonschema<4
pyyaml<6
# This is required by docker-compose and otherwise clashes with docker-py
websocket-client<1.0.0
# TODO: Remove after buf migration is done and packages updated
packaging<22.0