# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

executors:
  linux:
    machine:
      image: ubuntu-2204:2022.04.2
    resource_class: xlarge

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  build:
    parallelism: 1
    environment:
      GOVER: 1.18.3
      IPFS_VERSION: v0.12.2
      GOLANGCILINT: v1.48.0
      GOPROXY: https://proxy.golang.org
      GOOS: << parameters.target_os >>
      GOARCH: << parameters.target_arch >>
      CGO: 0
      GCS_TEST_RESULTS_BUCKET: gs://bacalhau-global-storage/test-results
      METADATA_FILENAME: LAST-PERFORMANCE-RESULT-METADATA-OBJECT
    working_directory: ~/repo
    executor: linux
    parameters:
      target_arch:
        type: string
      target_os:
        type: string
      run_tests:
        type: boolean
        default: true

    steps:
      - checkout

      - run:
          name: Install IPFS
          command: |
            echo "Installing IPFS_VERSION: $IPFS_VERSION"
            export IPFS_BUILD="$GOOS-$GOARCH"
            curl -s -L -O "https://dist.ipfs.io/go-ipfs/${IPFS_VERSION}/go-ipfs_${IPFS_VERSION}_${IPFS_BUILD}.tar.gz"
            tar -xvzf "go-ipfs_${IPFS_VERSION}_${IPFS_BUILD}.tar.gz"
            sudo bash ./go-ipfs/install.sh

      - when:
          condition:
            and:
              - equal: ["linux", << parameters.target_os >>]
              - equal: ["amd64", << parameters.target_arch >>]
          steps:
            - run:
                name: Install golangci-lint
                command: |
                  echo "Installing GOLANGCILINT: ${GOLANGCILINT}"
                  # binary will be /usr/local/go/bin/bin/golangci-lint
                  # For some reason, .circlerc (I don't know where this file is generated) reports `go env GOPATH` as '/home/circleci/.go_workspace:/usr/local/go_workspace' (with the colon)
                  # This breaks normal pathing. So just installing in ./bin/
                  curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | BINDIR=${HOME}/bin sh -s ${GOLANGCILINT}
                  golangci-lint --version

            - run:
                name: Run linter
                command: |
                  make lint

      - when:
          condition:
            and:
              - equal: ["linux", << parameters.target_os >>]
              - equal: ["amd64", << parameters.target_arch >>]
          steps:
            - run:
                name: Run go mod tidy check diff
                command: make modtidy check-diff
      - run:
          name: Build
          command: GO111MODULE=on make build

      - when:
          condition:
            and:
              - equal: ["linux", << parameters.target_os >>]
              - equal: ["amd64", << parameters.target_arch >>]
              - equal: ["run_tests", true]
          steps:
            - run:
                name: Test
                command: |
                  echo "---------------------------------------"
                  docker version
                  echo "---------------------------------------"
                  go install gotest.tools/gotestsum@latest
                  CGO_ENABLED=${CGO} \
                  LOG_LEVEL=debug \
                  gotestsum \
                    --junitfile unit-tests.xml \
                    --format standard-verbose \
                    -- \
                      ./pkg/... ./cmd/... \
                      ${COVERAGE_OPTS} --tags=unit
            - run:
                name: Upload results
                command: |
                  sudo apt install python3.10 -y
                  python3 -m pip install --upgrade pip
                  pip3 install gsutil
                  export SHA="<< pipeline.git.revision >>"
                  export DATETIME="$(date -u +"%FT%H%MZ")"
                  if [ "<<pipeline.git.tag>>" != "" ]; then
                    export TEST_RESULTS_FILENAME="<<pipeline.git.tag>>-$DATETIME-$SHA.xml"
                  else
                    export TEST_RESULTS_FILENAME="<<pipeline.git.branch>>-$DATETIME-$SHA.xml"
                  fi
                  echo "$GOOGLE_CLOUD_STORAGE_BACALHAU_CICD_RW" | base64 --decode > ~/.boto
                  mv unit-tests.xml "$TEST_RESULTS_FILENAME"
                  gsutil cp "$TEST_RESULTS_FILENAME" "$GCS_TEST_RESULTS_BUCKET"

                  gsutil -m setmeta -h "Content-Type:text/plain" \
                    -h "Cache-Control:public, max-age=0, no-cache, no-store" \
                    -h "Content-Disposition" gs://${GCS_TEST_RESULTS_BUCKET}/${METADATA_FILENAME}

                  gsutil setmeta -h "x-goog-meta-performance-results-last-updated:$(date -u +'%FT%H%MZ')" "gs://${GCS_TEST_RESULTS_BUCKET}/${METADATA_FILENAME}"

  deploy:
    docker:
      - image: google/cloud-sdk:392.0.0
    parameters:
      rollout_stage:
        type: string
      GOOGLE_APPLICATION_CREDENTIALS_VARIABLE:
        type: string
    environment:
      GCLOUD_VERSION: 392.0.0
      TERRAFORM_VERSION: 1.2.4
      GOOGLE_APPLICATION_CREDENTIALS: "/tmp/GOOGLE_APPLICATION_CREDENTIALS.json"
    steps:
      - checkout
      - run:
          name: Setup GCloud
          command: |
            # Create service account and get credentials here
            # https://console.cloud.google.com/iam-admin/serviceaccounts?authuser=1&project=bacalhau-development
            echo "$<< parameters.GOOGLE_APPLICATION_CREDENTIALS_VARIABLE >>" | base64 --decode > $GOOGLE_APPLICATION_CREDENTIALS
            echo "Using GCloud: $GCLOUD_VERSION"

      - run:
          name: Authenticate to Google Cloud
          command: |
            gcloud auth activate-service-account --key-file $GOOGLE_APPLICATION_CREDENTIALS

      - run:
          name: Install terraform
          command: |
            echo "Insalling Terraform: $TERRAFORM_VERSION"
            apt-get install -y software-properties-common
            curl -fsSL https://apt.releases.hashicorp.com/gpg | apt-key add -
            apt-add-repository -y "deb [arch=amd64] https://apt.releases.hashicorp.com $(lsb_release -cs) main"
            apt-get -y update && apt-get -y install terraform=$TERRAFORM_VERSION

      - run:
          name: Deploy cluster
          command: |
            cd ops/terraform && terraform init && \
                                terraform workspace select << parameters.rollout_stage >> && \
                                terraform apply -auto-approve --var-file=<< parameters.rollout_stage >>.tfvars

  run_perf:
    resource_class: filecoin-project/self-hosted-bacalhau
    machine: true
    parallelism: 1
    environment:
      GCS_PERF_RESULTS_BUCKET: gs://bacalhau-global-storage/perf-results
    steps:
      - checkout
      - run:
          name: Run Perf and Upload Results
          command: |
            export PATH="$HOME/.local/bin:${PATH}"
            export SHA="<< pipeline.git.revision >>"
            export DATETIME="$(date -u +"%FT%H%MZ")"
            export BRANCH="<<pipeline.git.branch>>"
            if [ "<<pipeline.git.tag>>" != "" ]; then
              export TAG="<<pipeline.git.tag>>"
            else
              export TAG="NOTAG"
            fi
            sudo apt install python3.10 python3-pip build-essential -y
            pip3 install gsutil
            wget https://github.com/sharkdp/hyperfine/releases/download/v1.13.0/hyperfine_1.13.0_amd64.deb
            sudo dpkg -i hyperfine_1.13.0_amd64.deb
            echo "$GOOGLE_CLOUD_STORAGE_BACALHAU_CICD_RW" | base64 --decode > ~/.boto
            (
              cd benchmark
              bash start_and_run.sh
            )
            gsutil -m cp benchmark/results/* "${GCS_PERF_RESULTS_BUCKET}/${DATETIME}-${BRANCH}-${TAG}-${SHA}"

      - heroku/install
      - run:
          command: >
            # Updates dashboard data with latest from GCS
            heroku run build --app bacalhau-dashboards

  release:
    executor: linux
    steps:
      - checkout
      - run:
          name: Build tarballs
          command: |
            GOOS=linux GOARCH=amd64 make build
            GOOS=linux GOARCH=arm64 make build
            GOOS=darwin GOARCH=amd64 make build
            GOOS=darwin GOARCH=arm64 make build
            echo "$PRIVATE_PEM_B64" | base64 --decode > /tmp/private.pem
            echo "$PUBLIC_PEM_B64" | base64 --decode > /tmp/public.pem
            export PRIVATE_KEY_PASSPHRASE="$(echo $PRIVATE_KEY_PASSPHRASE_B64 | base64 --decode)"
            rm dist/.keep           # Need to remove this file so it's not persisted to github
            GOOS=linux GOARCH=amd64 make build-bacalhau-tgz
            source /tmp/packagevars # Created during `make build-bacalhau-tgz`
            cp $ARTIFACT_DIR/*.tar.gz dist/
            cp $ARTIFACT_DIR/*.sha256 dist/
            GOOS=linux GOARCH=arm64 make build-bacalhau-tgz
            source /tmp/packagevars
            cp $ARTIFACT_DIR/*.tar.gz dist/
            cp $ARTIFACT_DIR/*.sha256 dist/
            GOOS=darwin GOARCH=amd64 make build-bacalhau-tgz
            source /tmp/packagevars
            cp $ARTIFACT_DIR/*.tar.gz dist/
            cp $ARTIFACT_DIR/*.sha256 dist/
            GOOS=darwin GOARCH=arm64 make build-bacalhau-tgz
            source /tmp/packagevars
            cp $ARTIFACT_DIR/*.tar.gz dist/
            cp $ARTIFACT_DIR/*.sha256 dist/
            find dist/
      - run:
          name: Install gh
          command: |
            curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo dd of=/usr/share/keyrings/githubcli-archive-keyring.gpg
            sudo chmod go+r /usr/share/keyrings/githubcli-archive-keyring.gpg
            echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null
            sudo apt update -y
            sudo apt install gh -y
            echo "$BACALHAU_RELEASE_TOKEN" | gh auth login --with-token
      - run:
          name: Uploading to Release - << pipeline.git.tag >>
          command: |
            TAG="<< pipeline.git.tag >>"
            echo "TAG = ${TAG}"
            find dist/
            gh release upload $TAG dist/*

orbs:
  heroku: circleci/heroku@1.2.6

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  dev_branches: # This workflow will run on all branches except 'main' and will not run on tags
    jobs:
      - build:
          name: build-<< matrix.target_os >>-<< matrix.target_arch >>
          matrix:
            parameters:
              target_os: ["linux", "darwin"]
              target_arch: ["amd64", "arm64"]
            exclude:
              - target_os: "linux"
                target_arch: "arm64"
          filters:
            &filters_dev_branches # this yaml anchor is setting these values to "filters_dev_branches"
            branches:
              ignore: main
            tags:
              ignore: /.*/
      - deploy:
          name: deploy-development-cluster
          requires:
            - build-linux-amd64
          rollout_stage: development
          GOOGLE_APPLICATION_CREDENTIALS_VARIABLE: "GOOGLE_APPLICATION_DEVELOPMENT_CREDENTIALS_B64"
          filters:
            <<: *filters_dev_branches # this is calling the previously set yaml anchor

  main_only: # This workflow will only run on 'main' and will not run on tags
    jobs:
      - build:
          name: build-<< matrix.target_os >>-<< matrix.target_arch >>
          matrix:
            parameters:
              target_os: ["linux", "darwin"]
              target_arch: ["amd64", "arm64"]
          filters:
            &filters_main_only # this yaml anchor is setting these values to "filters_main_only"
            branches:
              only: main
            tags:
              ignore: /.*/
      - deploy:
          name: deploy-staging-cluster
          requires:
            - build-linux-amd64
          rollout_stage: staging
          GOOGLE_APPLICATION_CREDENTIALS_VARIABLE: "GOOGLE_APPLICATION_STAGING_CREDENTIALS_B64"
          filters:
            <<: *filters_main_only # this is calling the previously set yaml anchor

  tags_only: # This workflow will only run on tags (specifically starting with 'v.') and will not run on branches
    jobs:
      - release:
          name: release-all-binaries
          filters: &filters_tags_only
            branches:
              ignore: /.*/ # don't run on any branches - only tags
            tags:
              # only run on tags that look like release tags e.g. v0.1.2 or
              # v0.1.3alpha19 (actually v0.1.3anything...)
              only: /^v([0-9]+).([0-9]+).([0-9]+).*$/

  performance: # This workflow will run on all branches except 'main' and will not run on tags
    jobs:
      - build:
          name: build-<< matrix.target_os >>-<< matrix.target_arch >>
          matrix:
            parameters:
              target_os: ["linux"]
              target_arch: ["amd64"]
              run_tests: [false]
      - run_perf:
          name: Running perf
          requires:
            - build-linux-amd64
