@import "@fontsource/open-sans/500.css";
@import '../../styles/variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    margin-left: -8px;
    transition: margin-left 0.3s ease;

    svg path[fill=white] {
        fill: $text-color-dark;
    }

    svg {
        margin-top: -6px;
    }

    &[data-collapsed=true] {
        margin-left: -228px;
    }
}

.left, .right {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.logo img {
    width: auto;
    height: 55px;
}

.pageTitle {
    font-size: 22px;
    font-weight: 500;
}

.searchBar input {
    margin-left: 20px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid $border-color;
}

.profile {
    display: flex;
    align-items: center;

    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 10px;
    }
}
