@import "@fontsource/open-sans/500.css";
@import "../../styles/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  margin-left: -8px;
  transition: margin-left 0.3s ease;
  height: 30.5px;

  svg path[fill="white"] {
    fill: $text-color-dark;
  }

  &[data-collapsed="true"] {
    margin-left: -227px;
  }
}

.left,
.right {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

svg.headerLogo {
  width: 214px;
  height: 24px;
  display: 2px;
  margin-top: 3px;
}

h1.pageTitle {
  font-size: 22px;
  font-weight: 500;
}

.searchBar input {
  margin-left: 20px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid $border-color;
}

.profile {
  display: flex;
  align-items: center;

  img,
  svg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
  }
}
