form {
    display: grid;
    grid-template-columns: 4fr 6fr;
    row-gap: 1em;
    column-gap: 1em;

    h3 {
        margin: 0;
        grid-column: span 2;
    }

    label {
        text-transform: capitalize;
    }

    label[data-required=true]::after {
        content: "*";
        color: red;
    }
}
