[Unit]
Description=Bacalhau
[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/
ExecStart=/usr/local/bin/scripts/run_bacalhau.sh
Type=simple
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target