[Unit]
Description=nginx-health-check
After=docker.service
Requires=docker.service
[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/health_check
ExecStartPre=-/usr/bin/docker exec %n stop
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull nginx
ExecStart=docker run --name %n --rm \
                     -v /home/ubuntu/health_check:/usr/share/nginx/html:ro \
                     -p 80:80 \
                     nginx
Type=simple
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target