[Unit]
Description=Bacalhau Daemon
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
User=bacalhau
Group=bacalhau
Restart=always
RestartSec=5s
AmbientCapabilities=CAP_NET_BIND_SERVICE
${env_vars}
ExecStart=bacalhau serve ${args}

[Install]
WantedBy=multi-user.target