@import '../../styles/variables';

.column {
    display: flex;
    flex-direction: column;
    align-items: center; // Centers horizontally in column flexbox
    justify-content: center; // Centers vertically in column flexbox
    height: 100%; // You might need to set a height
}

.actionButton{
    background-color: rgba($light-blue, .5);
    color: $text-color-dark;
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    column-gap: 1ch;
    align-items: center
}

.viewIcon {
    width: 18px;
    height: 18px;
}
