@import "../../styles/variables";
@import "../../styles/button";

.column {
  display: flex;
  flex-direction: column;
  align-items: center; // Centers horizontally in column flexbox
  justify-content: center; // Centers vertically in column flexbox
  height: 100%; // You might need to set a height
}

.actionButton {
  @include button;
}

.viewIcon {
  width: 18px;
  height: 18px;
}
