# ModelVerificationResult

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**complete** | [**kotlin.Boolean**](.md) |  |  [optional]
**result** | [**kotlin.Boolean**](.md) |  |  [optional]
