certifi==2026.6.17 ; python_version >= "3.10" and python_version < "4.0"
cffi==2.1.0 ; python_version >= "3.10" and python_version < "4.0" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.9 ; python_version >= "3.10" and python_version < "4.0"
cryptography==49.0.0 ; python_version >= "3.10" and python_version < "4.0"
google-api-core==2.32.0 ; python_version >= "3.10" and python_version < "4.0"
google-auth==2.56.0 ; python_version >= "3.10" and python_version < "4.0"
google-cloud-core==2.6.0 ; python_version >= "3.10" and python_version < "4.0"
google-cloud-storage==3.13.0 ; python_version >= "3.10" and python_version < "4.0"
google-crc32c==1.8.0 ; python_version >= "3.10" and python_version < "4.0"
google-resumable-media==2.10.0 ; python_version >= "3.10" and python_version < "4.0"
googleapis-common-protos==1.75.0 ; python_version >= "3.10" and python_version < "4.0"
idna==3.18 ; python_version >= "3.10" and python_version < "4.0"
proto-plus==1.28.1 ; python_version >= "3.10" and python_version < "4.0"
protobuf==7.35.1 ; python_version >= "3.10" and python_version < "4.0"
pyasn1-modules==0.4.2 ; python_version >= "3.10" and python_version < "4.0"
pyasn1==0.6.4 ; python_version >= "3.10" and python_version < "4.0"
pycparser==3.0 ; python_version >= "3.10" and python_version < "4.0" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
python-dotenv==1.2.2 ; python_version >= "3.10" and python_version < "4.0"
requests==2.34.2 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.16.0 ; python_version == "3.10"
urllib3==2.7.0 ; python_version >= "3.10" and python_version < "4.0"
