cachetools==7.0.5; python_version >= "3.7" and python_version < "4.0" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7")
certifi==2024.7.4; python_version >= "3.7" and python_version < "4"
charset-normalizer==3.4.7; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
google-api-core==2.30.3; python_version >= "3.7"
google-auth==2.49.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
google-cloud-core==2.5.1; python_version >= "3.7"
google-cloud-storage==3.10.1; python_version >= "3.7"
google-crc32c==1.8.0; python_version >= "3.7"
google-resumable-media==2.8.2; python_version >= "3.7"
googleapis-common-protos==1.74.0; python_version >= "3.7"
idna==3.11; python_version >= "3.7" and python_version < "4"
protobuf==7.34.1; python_version >= "3.7"
pyasn1-modules==0.4.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
pyasn1==0.6.3; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7") or python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7")
python-dotenv==0.20.0; python_version >= "3.5"
requests==2.33.1; python_version >= "3.7" and python_version < "4"
rsa==4.9.1; python_version >= "3.6" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7")
six==1.17.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
urllib3==2.6.3; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
