$breakpoint-small: 768px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1440px;

@mixin small {
    @media (max-width: $breakpoint-small) {
        @content;
    }
}

@mixin medium {
    @media (max-width: $breakpoint-medium) {
        @content;
    }
}

@mixin large {
    @media (max-width: $breakpoint-large) {
        @content;
    }
}