estuary_api_key = ""
grafana_cloud_prometheus_api_key = ""
grafana_cloud_tempo_api_key = ""
grafana_cloud_loki_api_key = ""
aws_access_key_id = ""
aws_secret_access_key = ""
docker_username = ""
docker_password = ""