gitdb==4.0.10; python_version >= "3.7"
gitpython==3.1.29; python_version >= "3.7"
jinja2==3.1.2; python_version >= "3.7"
markupsafe==2.1.1; python_version >= "3.7"
packaging==22.0; python_version >= "3.7"
semver==2.13.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
smmap==5.0.0; python_version >= "3.7"
