name: CircleCI Trigger Action
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  push:
    branches:
      - main
    tags:
      - v**
  workflow_run:
    workflows: ["Dependabot", "Trigger on Comment"]
    types:
      - completed
  repository_dispatch:
    types: [ok-to-test, ok-to-trigger-circleci]

permissions:
  contents: write
  pull-requests: write

jobs:
  trigger-circle-ci:
    if: |
      github.event_name != 'pull_request' ||
      (
        !contains(github.event.pull_request.labels.*.name, 'do-not-merge') &&
        !contains(github.event.pull_request.labels.*.name, 'wip')
      )
    runs-on: ubuntu-latest
    name: Pull Request Triggered CircleCI
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: Dump job context
        env:
          JOB_CONTEXT: ${{ toJson(job) }}
        run: echo "$JOB_CONTEXT"
      - name: Dump steps context
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: echo "$STEPS_CONTEXT"
      - name: Dump runner context
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
        run: echo "$RUNNER_CONTEXT"
      - uses: actions/checkout@v3
      - if: ${{ github.event_name != 'pull_request' }}
        run: echo "Not a pull request. Exiting."
      - name: Set up ref
        id: set-ref
        run: |
          if [[ -n "${{ github.event.client_payload.ref }}" ]]; then
            echo "Payload ref: ${{ github.event.client_payload.ref }}"
            echo "REF=${{ github.event.client_payload.ref }}" >> $GITHUB_ENV
          elif [[ -n "${{ github.event.pull_request.head.ref }}" ]]; then
            echo "PR ref: ${{ github.event.pull_request.head.ref }}"
            echo "REF=${{ github.event.pull_request.head.ref }}" >> $GITHUB_ENV
          elif [[ -n "${{ github.sha }}" ]]; then
            echo "REF: ${{ github.sha }}"
            echo "REF=${{ github.sha }}" >> $GITHUB_ENV
          else
            echo "No SHA set. Exiting."
            exit 1
          fi

          if [[ -n "${{ github.event.client_payload.full_name }}" ]]; then
            echo "FULL_NAME=${{ github.event.client_payload.full_name }}" >> $GITHUB_ENV
          else
            echo "FULL_NAME=${{ github.repository }}" >> $GITHUB_ENV
          fi

      - uses: hmarr/debug-action@v3

      - name: "Trigger CircleCI"
        id: trigger-circle-ci
        run: |
          python -m pip install poetry
          poetry install
          source $(poetry env info --path)/bin/activate
          python ./.circleci/trigger_circleci.py
        env:
          CIRCLE_TOKEN: ${{ secrets.CIRCLE_CI_TOKEN }}
          REF: ${{ env.REF }}
          FULL_NAME: ${{ github.repository }}
