name: Docs

on: [push]

jobs:
  spelling:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Codespell - Docs
        run: |
          yarn global add cspell@latest
          make spellcheck-docs

  build:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: yarn
          cache-dependency-path: docs
      - run: yarn install
        working-directory: docs
      - run: yarn run build
        working-directory: docs
      - uses: actions/upload-pages-artifact@v2
        with:
          path: docs/build/

  deploy:
    runs-on: ubuntu-latest
    needs: build

    if: github.ref == 'refs/heads/main'

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source

    # Deploy to the environment
    environment:
      name: Github Pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - id: deployment
        uses: actions/deploy-pages@v2
