name: Go

on:
  push:
    branches:
      - "*"
  pull_request:
    branches: [main]
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: "Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)"
        required: false
        default: "false"

jobs:
  build:
    name: Build ${{ matrix.target_os }}_${{ matrix.target_arch }} binaries
    runs-on: ${{ matrix.os }}
    env:
      GOVER: 1.17
      GOLANGCILINT_VER: v1.44
      GOOS: ${{ matrix.target_os }}
      GOARCH: ${{ matrix.target_arch }}
      GOPROXY: https://proxy.golang.org
      ARCHIVE_OUTDIR: dist/archives
      TEST_OUTPUT_FILE_PREFIX: test_report
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target_os: linux
            target_arch: amd64
          # - os: macOS-latest
          #   target_os: darwin
          #   target_arch: arm64

    steps:
      - uses: actions/checkout@main
      - name: Set up Go ${{ env.GOVER }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GOVER }}
      - run: go version
      - name: Debugging with tmate
        uses: mxschmitt/action-tmate@v3.11
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled }}

      #       - uses: evantorrie/mott-the-tidier@v1-beta
      #         with:
      #           gomods: |
      #             **/go.mod
      #             -tools/go.mod

      #       - uses: stefanzweifel/git-auto-commit-action@v4
      #         with:
      #           commit_message: Auto-fix go.sum discrepancies

      #       - name: golangci-lint
      #         if: matrix.target_arch == 'amd64' && matrix.target_os == 'linux'
      #         uses: golangci/golangci-lint-action@v2.2.1
      #         with:
      #           version: ${{ env.GOLANGCILINT_VER }}

      #       - name: Run go mod tidy check diff
      #         if: matrix.target_arch == 'amd64' && matrix.target_os == 'linux'
      #         run: make modtidy check-diff

      # - name: Debugging with tmate
      #   uses: mxschmitt/action-tmate@v3.11
      #   if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled }}

      - name: Build
        run: make build

      - name: Install IPFS
        run: wget https://dist.ipfs.io/go-ipfs/v0.11.0/go-ipfs_v0.11.0_linux-amd64.tar.gz && tar -xvzf go-ipfs_v0.11.0_linux-amd64.tar.gz && cd go-ipfs && bash install.sh

      - name: Test
        run: make test
