name: Main Pipeline

on:
  push:
    branches: ["eng-292/jamlo/improve-go-linting-in-ci"]
#  pull_request:
#    branches: [main]
#  repository_dispatch:
#    types: [ok-to-test]

jobs:
  build:
    uses: ./.github/workflows/build.yml
    secrets: inherit

  lint:
    uses: ./.github/workflows/lint.yml

  swagger-validation:
    uses: ./.github/workflows/swagger-validation.yml

  cspell:
    uses: ./.github/workflows/cspell.yml

  testcontainers-suite:
    needs: [build, lint, swagger-validation, cspell]
    if: success()
    uses: ./.github/workflows/testcontainers-suite.yml
    with:
      os: linux
      arch: amd64
