name: Release

on:
  release:
    types: [published, prereleased]
  workflow_dispatch:
    inputs:
      release_type:
        description: 'Type of release'
        required: true
        default: 'release'
        type: choice
        options:
          - release
          - pre-release

permissions:
  contents: read
  actions: read
  checks: write
  id-token: write  # Required for AWS authentication

jobs:
  # Build all binaries for release
  build-binaries:
    name: Binary
    uses: ./.github/workflows/_build.yml
    secrets: inherit

  # Push binaries to S3
  publish-to-s3:
    name: Publish to S3
    needs: [ build-binaries ]
    uses: ./.github/workflows/_s3_publish.yml
    with:
      target_type: "release"
    secrets: inherit

  # Build and push Docker images
  publish-docker:
    name: Publish Docker
    needs: [ build-binaries ]
    uses: ./.github/workflows/_docker_publish.yml
    with:
      target_type: "release"
    secrets: inherit
